* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}


.breakpoints {
    height: 100%;
}

.breakpoints > div {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    display: inline-block;
    padding: 0.5rem;
    height: 50px;
}

.breakpoints h1 {
    padding: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 1200px) {
    body {
        background-color: blueviolet;
        color: burlywood;
    }
    .container {
        width: 100%;
    }
}


@media (max-width: 1142px) {
    .breakpoints > div {
        display: block;
    }

    .breakpoints > div:not(:last-child) {
        border-bottom: none;
    }
}